In [4]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import Select
import pandas as pd
import time
import warnings

warnings.filterwarnings('ignore')
pd.pandas.set_option('display.max_columns', None)

In [5]:

website = 'https://www.singaporepools.com.sg/en/product/sr/Pages/toto_results.aspx?sppl=RHJhd051bWJlcj0zODY5'
path = 'C:/Users/User/Desktop/Data Science Project/Lottery/chromedriver-win32/chromedriver'

chrome = webdriver.ChromeService(executable_path=path)

driver = webdriver.Chrome()
driver.get(website)

dropdowns = Select(driver.find_element(By.XPATH, "//select[@class = 'form-control selectDrawList']"))
no_of_dropdowns = len(dropdowns.options)
print(no_of_dropdowns)
#dropdown.select_by_index(2)

date = []
number_draw = []

winning_number_1 = []
winning_number_2 = []
winning_number_3 = []
winning_number_4 = []
winning_number_5 = []
winning_number_6 = []
additional_number = []

amount_group1_lst = []
amount_group2_lst = []
amount_group3_lst = []
amount_group4_lst = []
amount_group5_lst = []
amount_group6_lst = []
amount_group7_lst = []

winner_group1_lst = []
winner_group2_lst = []
winner_group3_lst = []
winner_group4_lst = []
winner_group5_lst = []
winner_group6_lst = []
winner_group7_lst = []

for i in range(0, no_of_dropdowns):

    dropdown = Select(driver.find_element(By.XPATH, "//select[@class = 'form-control selectDrawList']"))
    dropdown.select_by_index(i)
    time.sleep(3)
    
    matches = driver.find_elements(By.TAG_NAME,'tr')
    for match in matches:

        d = match.find_element(By.XPATH, "//th[@class = 'drawDate']").text
        nd = match.find_element(By.XPATH, "//th[@class = 'drawNumber']").text
        w1 = match.find_element(By.XPATH, "//td[@class = 'win1']").text
        w2 = match.find_element(By.XPATH, "//td[@class = 'win2']").text
        w3 = match.find_element(By.XPATH, "//td[@class = 'win3']").text
        w4 = match.find_element(By.XPATH, "//td[@class = 'win4']").text
        w5 = match.find_element(By.XPATH, "//td[@class = 'win5']").text
        w6 = match.find_element(By.XPATH, "//td[@class = 'win6']").text
        add_no = match.find_element(By.XPATH, "//td[@class = 'additional']").text
    
    amount_group1 = driver.find_element(By.XPATH, '//*[@id="ctl00_ctl37_g_7daddb1d_8fe5_43c9_ba4a_6a00b22a7111_ctl00_divSingleResult"]/div[1]/table[5]/tbody/tr[2]/td[2]').text
    amount_group2 = driver.find_element(By.XPATH, '//*[@id="ctl00_ctl37_g_7daddb1d_8fe5_43c9_ba4a_6a00b22a7111_ctl00_divSingleResult"]/div[1]/table[5]/tbody/tr[3]/td[2]').text
    amount_group3 = driver.find_element(By.XPATH, '//*[@id="ctl00_ctl37_g_7daddb1d_8fe5_43c9_ba4a_6a00b22a7111_ctl00_divSingleResult"]/div[1]/table[5]/tbody/tr[4]/td[2]').text
    amount_group4 = driver.find_element(By.XPATH, '//*[@id="ctl00_ctl37_g_7daddb1d_8fe5_43c9_ba4a_6a00b22a7111_ctl00_divSingleResult"]/div[1]/table[5]/tbody/tr[5]/td[2]').text
    amount_group5 = driver.find_element(By.XPATH, '//*[@id="ctl00_ctl37_g_7daddb1d_8fe5_43c9_ba4a_6a00b22a7111_ctl00_divSingleResult"]/div[1]/table[5]/tbody/tr[6]/td[2]').text
    amount_group6 = driver.find_element(By.XPATH, '//*[@id="ctl00_ctl37_g_7daddb1d_8fe5_43c9_ba4a_6a00b22a7111_ctl00_divSingleResult"]/div[1]/table[5]/tbody/tr[7]/td[2]').text
    amount_group7 = driver.find_element(By.XPATH, '//*[@id="ctl00_ctl37_g_7daddb1d_8fe5_43c9_ba4a_6a00b22a7111_ctl00_divSingleResult"]/div[1]/table[5]/tbody/tr[8]/td[2]').text

    winner_group1 = driver.find_element(By.XPATH, '//*[@id="ctl00_ctl37_g_7daddb1d_8fe5_43c9_ba4a_6a00b22a7111_ctl00_divSingleResult"]/div[1]/table[5]/tbody/tr[2]/td[3]').text
    winner_group2 = driver.find_element(By.XPATH, '//*[@id="ctl00_ctl37_g_7daddb1d_8fe5_43c9_ba4a_6a00b22a7111_ctl00_divSingleResult"]/div[1]/table[5]/tbody/tr[3]/td[3]').text
    winner_group3 = driver.find_element(By.XPATH, '//*[@id="ctl00_ctl37_g_7daddb1d_8fe5_43c9_ba4a_6a00b22a7111_ctl00_divSingleResult"]/div[1]/table[5]/tbody/tr[4]/td[3]').text
    winner_group4 = driver.find_element(By.XPATH, '//*[@id="ctl00_ctl37_g_7daddb1d_8fe5_43c9_ba4a_6a00b22a7111_ctl00_divSingleResult"]/div[1]/table[5]/tbody/tr[5]/td[3]').text
    winner_group5 = driver.find_element(By.XPATH, '//*[@id="ctl00_ctl37_g_7daddb1d_8fe5_43c9_ba4a_6a00b22a7111_ctl00_divSingleResult"]/div[1]/table[5]/tbody/tr[6]/td[3]').text
    winner_group6 = driver.find_element(By.XPATH, '//*[@id="ctl00_ctl37_g_7daddb1d_8fe5_43c9_ba4a_6a00b22a7111_ctl00_divSingleResult"]/div[1]/table[5]/tbody/tr[7]/td[3]').text
    winner_group7 = driver.find_element(By.XPATH, '//*[@id="ctl00_ctl37_g_7daddb1d_8fe5_43c9_ba4a_6a00b22a7111_ctl00_divSingleResult"]/div[1]/table[5]/tbody/tr[8]/td[3]').text

    datetime_dates = pd.to_datetime(d, format='%a, %d %b %Y')
    formatted_dates = datetime_dates.strftime('%d/%m/%Y')
    
    date.append(formatted_dates)
    number_draw.append(nd[-4:])
    winning_number_1.append(w1)
    winning_number_2.append(w2)
    winning_number_3.append(w3)
    winning_number_4.append(w4)
    winning_number_5.append(w5)
    winning_number_6.append(w6)
    additional_number.append(add_no)
    
    amount_group1_lst.append(amount_group1)
    amount_group2_lst.append(amount_group2)
    amount_group3_lst.append(amount_group3)
    amount_group4_lst.append(amount_group4)
    amount_group5_lst.append(amount_group5)
    amount_group6_lst.append(amount_group6)
    amount_group7_lst.append(amount_group7)
    
    winner_group1_lst.append(winner_group1)
    winner_group2_lst.append(winner_group2)
    winner_group3_lst.append(winner_group3)
    winner_group4_lst.append(winner_group4)
    winner_group5_lst.append(winner_group5)
    winner_group6_lst.append(winner_group6)
    winner_group7_lst.append(winner_group7)
    
driver.quit()

314

In [6]:
df = pd.DataFrame({'number_draw': number_draw, 'date' : date, 'winning_number_1': winning_number_1, 
                   'winning_number_2': winning_number_2, 'winning_number_3': winning_number_3, 
                   'winning_number_4': winning_number_4, 'winning_number_5': winning_number_5,
                  'winning_number_6': winning_number_6, 'additional_number': additional_number,
                  'Group 1 Share Amount':amount_group1_lst, 'Group 2 Share Amount':amount_group2_lst,'Group 3 Share Amount':amount_group3_lst,
                  'Group 4 Share Amount':amount_group4_lst,'Group 5 Share Amount':amount_group5_lst,'Group 6 Share Amount':amount_group6_lst,
                  'Group 7 Share Amount':amount_group7_lst, 'Group 1 No.winning ':winner_group1_lst, 'Group 2 No.winning ':winner_group2_lst,
                  'Group 3 No.winning ':winner_group3_lst,'Group 4 No.winning ':winner_group4_lst,'Group 5 No.winning ':winner_group5_lst,
                  'Group 6 No.winning ':winner_group6_lst,'Group 7 No.winning ':winner_group7_lst})

df_rev = df[::-1]
df_rev = df_rev.reset_index(drop=True)
#.to_csv('toto_trial_1.csv', index = False)
df_rev

,number_draw,date,winning_number_1,winning_number_2,winning_number_3,winning_number_4,winning_number_5,winning_number_6,additional_number,Group 1 Share Amount,Group 2 Share Amount,Group 3 Share Amount,Group 4 Share Amount,Group 5 Share Amount,Group 6 Share Amount,Group 7 Share Amount,Group 1 No.winning,Group 2 No.winning,Group 3 No.winning,Group 4 No.winning,Group 5 No.winning,Group 6 No.winning,Group 7 No.winning
0,3639,01/03/2021,5,6,7,13,25,37,30,-,"$45,230","$1,372",$280,$50,$25,$10,-,6,136,364,"8,458","9,917","139,177"
1,3640,04/03/2021,11,12,20,28,30,38,27,-,-,"$1,210",$331,$50,$25,$10,-,-,207,413,"9,967","12,067","163,444"
2,3641,08/03/2021,8,13,17,27,33,40,38,"$2,107,832","$211,977","$1,534",$306,$50,$25,$10,3,5,312,855,"16,812","22,050","293,700"
3,3642,11/03/2021,12,19,26,41,46,47,35,"$1,291,606","$135,959","$1,870",$405,$50,$25,$10,1,2,100,252,"5,237","6,930","94,102"
4,3643,15/03/2021,12,15,19,28,35,43,44,"$1,291,532","$271,902","$1,815",$484,$50,$25,$10,1,1,103,211,"5,687","6,243","105,907"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309,3948,15/02/2024,15,18,22,35,41,48,5,"$3,725,231","$56,587","$1,476",$310,$50,$25,$10,1,8,211,548,"9,044","14,488","160,941"
310,3949,19/02/2024,1,10,21,29,35,42,27,"$1,744,053","$367,169","$2,158",$479,$50,$25,$10,1,1,117,288,"7,355","9,901","139,130"
311,3950,23/02/2024,18,21,26,35,38,43,40,"$3,087,960","$108,350","$1,827",$400,$50,$25,$10,4,24,979,"2,440","51,357","68,053","956,000"
312,3951,26/02/2024,2,8,14,27,39,42,10,-,-,"$2,235",$367,$50,$25,$10,-,-,81,269,"5,210","8,419","100,411"
313,3952,29/02/2024,1,14,28,44,45,49,16,"$1,531,384","$107,466","$2,050",$449,$50,$25,$10,2,6,128,319,"7,173","9,703","139,189"

In [8]:
df_rev.to_csv('Dataset_toto.csv', index=False)